a.aligncenter img {
    display: block;
    margin: 0 auto;
}

a.alignnone {
    display: inline-block;
}

.alignleft {
    float: left;
    text-align: left;
}

.alignright {
    float: right;
    text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
    max-width: 100%;
}

img.centered,
.aligncenter {
    display: block;
    margin: 0 auto $base-spacing*2;
}

img.alignnone,
.alignnone {
    margin-bottom: $base-spacing;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
    margin: 0 $base-spacing*2 $base-spacing*2 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
    margin: 0 0 $base-spacing*2 $base-spacing*2;
}

.wp-caption-text {
    font-size: $base-font-size;
    text-align: center;
}

.entry-content p.wp-caption-text {
    margin-bottom: 0;
}
