.site-title {
    a,
    a:hover {
        color: $dark-gray;
    }
}

.header-image .site-title > a {
    background: url(images/logo.png) no-repeat left;
    float: left;
    min-height: 60px;
    width: 100%;
}
