.widget {
    word-wrap: break-word;
}

.widget li li {
    border: none;
    margin: 0 0 0 $base-spacing*2;
    padding: 0;
}

.widget_calendar table {
    width: 100%;
}

.widget_calendar td,
.widget_calendar th {
    text-align: center;
}
