p.entry-meta {
    font-size: $base-font-size;
    margin-bottom: 0;
}

.entry-header .entry-meta {
    margin-bottom: $base-spacing*2;
}

.entry-footer .entry-meta {
    border-top: $base-border;
    padding-top: $base-spacing*2;
}

.entry-categories,
.entry-tags {
    display: block;
}

.entry-comments-link::before {
    content: "\2014";
    margin: 0 $base-spacing 0 $base-spacing/2;
}
