/*******
** We aren't going to use Neat for this gallery due to the possible number of gallery columns
** that don't easily break into 12.
*******/


.gallery {
    overflow: hidden;
}

.gallery-item {
    float: left;
    margin: 0 0 28px;
    text-align: center;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-3 .gallery-item {
    width: 33%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery-columns-6 .gallery-item {
    width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery img {
    border: 1px solid $dark-gray;
    height: auto;
    padding: 4px;
}

.gallery img:hover {
    border: 1px solid $medium-gray;
}
