.pagination {
    clear: both;
    margin: $base-spacing*2 0;
    padding: 0 $base-spacing*2;
}

.adjacent-entry-pagination {
    margin-bottom: 0;
}

.archive-pagination li {
    display: inline;

    a {
        background-color: $dark-gray;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: $base-font-size;
        padding: $base-font-size $base-font-size;

        &:hover {
            backgroud-color: $base-accent-color;
        }
    }

    &.active a {
        background-color: $base-accent-color;
    }
}
