$sub-menu-width: em(200);

.genesis-nav-menu .sub-menu {
    @include transition(opacity .4s ease-in-out);
    left: -9999px;
    opacity: 0;
    position: absolute;
    width: $sub-menu-width;
    z-index: $above-z-index;
}

.genesis-nav-menu .sub-menu a {
    background-color: white;
    border: $base-border;
    border-top: none;
    font-size: $base-font-size;
    padding: $base-spacing*2;
    position: relative;
    width: $sub-menu-width;
}

.genesis-nav-menu .sub-menu .sub-menu {
    margin: -55px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
    position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
    left: auto;
    opacity: 1;
}

.site-header .sub-menu {
    border-top: $base-border;
}

.site-header .sub-menu .sub-menu {
    margin-top: -56px;
}
