.title-area {
    @include span-columns(12);
    @include omega;
    padding: $base-spacing $base-spacing*2;

    @include media($large-screen-up) {
        @include span-columns(4);
    }
}

.header-full-width .title-area {
    width: 100%;
}

.site-description,
.site-title {
    margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
    display: block;
    text-indent: -9999px;
}
