$comment-background-color: white;

.comment-respond,
.entry-comments,
.entry-pings {
    background-color: $comment-background-color;
    margin-bottom: $base-font-size*2;
}

.comment-respond,
.entry-pings {
    padding: $base-font-size*2 $base-font-size*2 $base-font-size;
}

.entry-comments {
    padding: $base-font-size*2;
}

.comment-header {
    font-size: $base-font-size;
}

li.comment {
    background-color: darken($comment-background-color, 10);
    border: $base-border;
    border-right: none;
}

.comment-content {
    clear: both;
}

.comment-list li {
    margin-top: $base-font-size;
    padding: $base-font-size*2;

    li {
        margin-right: -$base-font-size*2;
    }
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    width: 50%;
}

.comment-respond label {
    display: block;
    margin-right: $base-font-size;
}

.entry-comments .comment-author {
    margin-bottom: 0;
}

.entry-pings .reply {
    display: none;
}

.bypostauthor {
}

.form-allowed-tags {
    background-color: darken($comment-background-color,10);
    font-size: $base-font-size;
    padding: $base-font-size*2;
}
