.footer-widgets {
    background-color: $dark-gray;
    clear: both;
    padding: $base-spacing*4 $base-spacing*2;
}

.footer-widgets,
.footer-widgets a {
    color: $medium-gray;
}

.footer-widgets input {
    border: $base-border;
}

.footer-widgets a.button,
.footer-widgets a:hover {
    color: white;
}

.footer-widgets li {
    border-bottom: $base-border;
    margin-bottom: $base-spacing;
    padding-bottom: $base-spacing;
}

.footer-widgets .widget {
    margin-bottom: $base-spacing*4;
}

.footer-widgets p:last-child {
    margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
    @include span-columns(12);
    @include omega();

    @include media($large-screen-up) {
        @include span-columns(4);
        @include omega(3n);
    }
}
