.genesis-nav-menu {
    clear: both;
    font-size: $base-font-size;
    line-height: $base-line-height;
    width: 100%;
}

.genesis-nav-menu > .first > a {
    padding-left: 0;
}

.genesis-nav-menu > .last > a {
    padding-right: 0;
}

.genesis-nav-menu > .right {
    color: white;
    float: right;
    list-style-type: none;
    padding: $base-spacing*2 0;
}

.genesis-nav-menu > .right > a {
    display: inline;
    padding: 0;
}

.genesis-nav-menu > .rss > a {
    margin-left: 48px;
}

.genesis-nav-menu > .search {
    padding: $base-spacing 0 0;
}

.site-header .genesis-nav-menu li li {
    margin-left: 0;
}

.nav-primary {
    background-color: $dark-gray;
}

.nav-primary .genesis-nav-menu a {
    color: white;
}

.nav-primary .genesis-nav-menu .sub-menu a {
    color: $dark-gray;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: $base-accent-color;
}

.nav-secondary {
    background-color: white;
}
