.site-footer {
    background-color: white;
    font-size: $base-font-size;
    line-height: $base-line-height;
    padding: $base-spacing 0;
    text-align: center;
}

.site-footer p {
    margin-bottom: 0;
}
