$site-header-height: em(160);

.site-header {
    background-color: #fff;
    min-height: $site-header-height;
}

.site-header .widget-area {
    @include span-columns(12);
    @include omega;
    text-align: left;

    @include media($large-screen-up) {
        @include span-columns(8);
        @include omega;
        text-align: right;
    }
}
