@charset "UTF-8";
@import url(assets/components/normalize.css/normalize.css);
/*
	Theme Name: CGD Startup (rename this)
	Description: Child theme of Genesis, by <a href="http://cgd.io">Clif Griffin Development Inc</a>.
	Author: Clif Griffin Development Inc.
	Author URI: http://cgd.io

	Template: genesis
*/
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 5px;
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
a:hover {
  color: #2c5999;
}
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 10px 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 10px 0;
  padding-left: 5px;
}

cite {
  color: #737373;
  font-style: italic;
}
cite:before {
  content: "\2014 \00A0";
}

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 5px 0;
  padding: 10px;
}

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 2.5px;
}
label.required:after {
  content: "*";
}
label abbr {
  display: none;
}

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 5px;
  padding: 3.33333px 3.33333px;
  width: 100%;
}
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 2.5px;
}

input[type="file"] {
  padding-bottom: 5px;
  width: 100%;
}

select {
  margin-bottom: 10px;
  max-width: 100%;
  width: auto;
}

table {
  border-collapse: collapse;
  margin: 5px 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 5px 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #dddddd;
  padding: 5px 0;
}

tr,
td,
th {
  vertical-align: middle;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
dl {
  margin-bottom: 5px;
}
dl dt {
  font-weight: bold;
  margin-top: 5px;
}
dl dd {
  margin: 0;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ## Site Containers
--------------------------------------------- */
.site-inner,
.wrap {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}
.site-inner:after,
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* ## Column Widths and Positions
--------------------------------------------- */
.content,
.sidebar-primary,
.full-width .content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
}
.content:last-child,
.sidebar-primary:last-child,
.full-width .content:last-child {
  margin-right: 0;
}

@media screen and (min-width: 60em) {
  .content-sidebar .content-sidebar-wrap,
  .sidebar-content .content-sidebar-wrap,
  .full-width-content .content-sidebar-wrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
  }
  .content-sidebar .content-sidebar-wrap:last-child,
  .sidebar-content .content-sidebar-wrap:last-child,
  .full-width-content .content-sidebar-wrap:last-child {
    margin-right: 0;
  }

  .full-width-content .content-sidebar-wrap .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .full-width-content .content-sidebar-wrap .content:last-child {
    margin-right: 0;
  }

  .content-sidebar .content-sidebar-wrap .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  .content-sidebar .content-sidebar-wrap .content:last-child {
    margin-right: 0;
  }
  .content-sidebar .content-sidebar-wrap .sidebar-primary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
  }
  .content-sidebar .content-sidebar-wrap .sidebar-primary:last-child {
    margin-right: 0;
  }

  .sidebar-content .content-sidebar-wrap .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-right: 0;
    float: right;
  }
  .sidebar-content .content-sidebar-wrap .content:last-child {
    margin-right: 0;
  }
  .sidebar-content .content-sidebar-wrap .sidebar-primary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .sidebar-content .content-sidebar-wrap .sidebar-primary:last-child {
    margin-right: 0;
  }
  .sidebar-content .content-sidebar-wrap .sidebar-primary:last-child {
    margin-right: 2.35765%;
  }

  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  .content-sidebar-sidebar .content-sidebar-wrap:last-child,
  .sidebar-sidebar-content .content-sidebar-wrap:last-child,
  .sidebar-content-sidebar .content-sidebar-wrap:last-child {
    margin-right: 0;
  }
  .content-sidebar-sidebar .content-sidebar-wrap .content,
  .sidebar-sidebar-content .content-sidebar-wrap .content,
  .sidebar-content-sidebar .content-sidebar-wrap .content {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 65.61052%;
  }
  .content-sidebar-sidebar .content-sidebar-wrap .content:last-child,
  .sidebar-sidebar-content .content-sidebar-wrap .content:last-child,
  .sidebar-content-sidebar .content-sidebar-wrap .content:last-child {
    margin-right: 0;
  }
  .content-sidebar-sidebar .content-sidebar-wrap .sidebar-primary,
  .sidebar-sidebar-content .content-sidebar-wrap .sidebar-primary,
  .sidebar-content-sidebar .content-sidebar-wrap .sidebar-primary {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 31.22104%;
    margin-right: 0;
  }
  .content-sidebar-sidebar .content-sidebar-wrap .sidebar-primary:last-child,
  .sidebar-sidebar-content .content-sidebar-wrap .sidebar-primary:last-child,
  .sidebar-content-sidebar .content-sidebar-wrap .sidebar-primary:last-child {
    margin-right: 0;
  }

  .content-sidebar-sidebar .sidebar-secondary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
  }
  .content-sidebar-sidebar .sidebar-secondary:last-child {
    margin-right: 0;
  }

  .sidebar-sidebar-content .content-sidebar-wrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-right: 0;
    float: right;
  }
  .sidebar-sidebar-content .content-sidebar-wrap:last-child {
    margin-right: 0;
  }
  .sidebar-sidebar-content .content-sidebar-wrap .sidebar-primary {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 31.22104%;
  }
  .sidebar-sidebar-content .content-sidebar-wrap .sidebar-primary:last-child {
    margin-right: 0;
  }
  .sidebar-sidebar-content .content-sidebar-wrap .sidebar-primary:last-child {
    margin-right: 2.35765%;
  }
  .sidebar-sidebar-content .content-sidebar-wrap .content {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 65.61052%;
    margin-right: 0;
    float: right;
  }
  .sidebar-sidebar-content .content-sidebar-wrap .content:last-child {
    margin-right: 0;
  }

  .sidebar-sidebar-content .sidebar-secondary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .sidebar-sidebar-content .sidebar-secondary:last-child {
    margin-right: 0;
  }
  .sidebar-sidebar-content .sidebar-secondary:first-child {
    margin-right: 2.35765%;
  }

  .sidebar-content-sidebar .content-sidebar-wrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-right: 0;
    float: right;
  }
  .sidebar-content-sidebar .content-sidebar-wrap:last-child {
    margin-right: 0;
  }
  .sidebar-content-sidebar .content-sidebar-wrap .content {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 65.61052%;
  }
  .sidebar-content-sidebar .content-sidebar-wrap .content:last-child {
    margin-right: 0;
  }
  .sidebar-content-sidebar .content-sidebar-wrap .sidebar-primary {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 31.22104%;
    margin-right: 0;
  }
  .sidebar-content-sidebar .content-sidebar-wrap .sidebar-primary:last-child {
    margin-right: 0;
  }

  .sidebar-content-sidebar .sidebar-secondary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .sidebar-content-sidebar .sidebar-secondary:last-child {
    margin-right: 0;
  }
  .sidebar-content-sidebar .sidebar-secondary:first-child {
    margin-right: 2.35765%;
  }
}
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
}

.featured-content img,
.gallery img {
  width: auto;
}

.avatar {
  float: left;
}

.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

.comment .avatar {
  margin: 0 16px 24px 0;
}

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 20px;
}

img.alignnone,
.alignnone {
  margin-bottom: 10px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 20px 20px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 20px 20px;
}

.wp-caption-text {
  font-size: 1em;
  text-align: center;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

.widget {
  word-wrap: break-word;
}

.widget li li {
  border: none;
  margin: 0 0 0 20px;
  padding: 0;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

.site-title a,
.site-title a:hover {
  color: #333333;
}

.header-image .site-title > a {
  background: url(images/logo.png) no-repeat left;
  float: left;
  min-height: 60px;
  width: 100%;
}

.genesis-nav-menu .menu-item {
  display: inline-block;
  text-align: left;
}

.genesis-nav-menu a {
  color: #333333;
  display: block;
  padding: 20px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #477dca;
}

/*******
** We aren't going to use Neat for this gallery due to the possible number of gallery columns
** that don't easily break into 12.
*******/
.gallery {
  overflow: hidden;
}

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

.gallery img {
  border: 1px solid #333333;
  height: auto;
  padding: 4px;
}

.gallery img:hover {
  border: 1px solid #999999;
}

.title-area {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  padding: 10px 20px;
}
.title-area:last-child {
  margin-right: 0;
}
@media screen and (min-width: 60em) {
  .title-area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .title-area:last-child {
    margin-right: 0;
  }
}

.header-full-width .title-area {
  width: 100%;
}

.site-description,
.site-title {
  margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px;
}

.genesis-nav-menu .sub-menu {
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  left: -9999px;
  opacity: 0;
  position: absolute;
  width: 12.5em;
  z-index: 10;
}

.genesis-nav-menu .sub-menu a {
  background-color: white;
  border: 1px solid #dddddd;
  border-top: none;
  font-size: 1em;
  padding: 20px;
  position: relative;
  width: 12.5em;
}

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -55px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.site-header .sub-menu {
  border-top: 1px solid #dddddd;
}

.site-header .sub-menu .sub-menu {
  margin-top: -56px;
}

.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-content code {
  background-color: #333;
  color: #ddd;
}

p.entry-meta {
  font-size: 1em;
  margin-bottom: 0;
}

.entry-header .entry-meta {
  margin-bottom: 20px;
}

.entry-footer .entry-meta {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 10px 0 5px;
}

.pagination {
  clear: both;
  margin: 20px 0;
  padding: 0 20px;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination li {
  display: inline;
}
.archive-pagination li a {
  background-color: #333333;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  padding: 1em 1em;
}
.archive-pagination li a:hover {
  backgroud-color: #477dca;
}
.archive-pagination li.active a {
  background-color: #477dca;
}

.site-header {
  background-color: #fff;
  min-height: 10em;
}

.site-header .widget-area {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  text-align: left;
}
.site-header .widget-area:last-child {
  margin-right: 0;
}
@media screen and (min-width: 60em) {
  .site-header .widget-area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0;
    text-align: right;
  }
  .site-header .widget-area:last-child {
    margin-right: 0;
  }
}

.genesis-nav-menu {
  clear: both;
  font-size: 1em;
  line-height: 1.5;
  width: 100%;
}

.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu > .right {
  color: white;
  float: right;
  list-style-type: none;
  padding: 20px 0;
}

.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}

.genesis-nav-menu > .rss > a {
  margin-left: 48px;
}

.genesis-nav-menu > .search {
  padding: 10px 0 0;
}

.site-header .genesis-nav-menu li li {
  margin-left: 0;
}

.nav-primary {
  background-color: #333333;
}

.nav-primary .genesis-nav-menu a {
  color: white;
}

.nav-primary .genesis-nav-menu .sub-menu a {
  color: #333333;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #477dca;
}

.nav-secondary {
  background-color: white;
}

.entry {
  margin-bottom: 40px;
  padding: 40px 20px;
}

.content .entry {
  background-color: white;
}

.comment-respond,
.entry-comments,
.entry-pings {
  background-color: white;
  margin-bottom: 2em;
}

.comment-respond,
.entry-pings {
  padding: 2em 2em 1em;
}

.entry-comments {
  padding: 2em;
}

.comment-header {
  font-size: 1em;
}

li.comment {
  background-color: #e6e6e6;
  border: 1px solid #dddddd;
  border-right: none;
}

.comment-content {
  clear: both;
}

.comment-list li {
  margin-top: 1em;
  padding: 2em;
}
.comment-list li li {
  margin-right: -2em;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 1em;
}

.entry-comments .comment-author {
  margin-bottom: 0;
}

.entry-pings .reply {
  display: none;
}

.form-allowed-tags {
  background-color: #e6e6e6;
  font-size: 1em;
  padding: 2em;
}

.sidebar {
  font-size: 1em;
  margin-top: 40px;
}

.sidebar li {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}

.footer-widgets {
  background-color: #333333;
  clear: both;
  padding: 40px 20px;
}

.footer-widgets,
.footer-widgets a {
  color: #999999;
}

.footer-widgets input {
  border: 1px solid #dddddd;
}

.footer-widgets a.button,
.footer-widgets a:hover {
  color: white;
}

.footer-widgets li {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets p:last-child {
  margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
}
.footer-widgets-1:last-child,
.footer-widgets-2:last-child,
.footer-widgets-3:last-child {
  margin-right: 0;
}
@media screen and (min-width: 60em) {
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .footer-widgets-1:last-child,
  .footer-widgets-2:last-child,
  .footer-widgets-3:last-child {
    margin-right: 0;
  }
  .footer-widgets-1:nth-child(3n),
  .footer-widgets-2:nth-child(3n),
  .footer-widgets-3:nth-child(3n) {
    margin-right: 0;
  }
  .footer-widgets-1:nth-child(3n+1),
  .footer-widgets-2:nth-child(3n+1),
  .footer-widgets-3:nth-child(3n+1) {
    clear: left;
  }
}

.site-footer {
  background-color: white;
  font-size: 1em;
  line-height: 1.5;
  padding: 10px 0;
  text-align: center;
}

.site-footer p {
  margin-bottom: 0;
}
