@import "../../../node_modules/node-neat/assets/stylesheets/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-columns: 12;
$max-width: em(1200);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(960);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 12);



@mixin omega-reset($nth, $current-columns: $grid-columns, $direction: get-direction($layout-direction, $default-layout-direction)) {
    margin-#{ get-opposite-direction($direction) }: 0;
    &:nth-child(#{$nth}) { margin-#{ $direction }: flex-gutter($current-columns, $gutter); }
    &:nth-child(#{$nth}+1) { clear: none }
}
