/* ## Site Containers
--------------------------------------------- */
.site-inner,
.wrap {
    @include outer-container;
}

/* ## Column Widths and Positions
--------------------------------------------- */
.content,
.sidebar-primary,
.full-width .content {
    @include span-columns(12);
    @include omega();
}

@include media($large-screen-up) {

    .content-sidebar .content-sidebar-wrap,
    .sidebar-content .content-sidebar-wrap,
    .full-width-content .content-sidebar-wrap {
        @include span-columns(12);
        @include omega;
    }

    .full-width-content .content-sidebar-wrap {
        .content {
            @include span-columns(12 or 12);
        }
    }

    .content-sidebar .content-sidebar-wrap {
        .content {
            @include span-columns(9 of 12);
        }

        .sidebar-primary {
            @include span-columns(3 of 12);
            @include omega;
        }
    }

    .sidebar-content .content-sidebar-wrap {
        .content {
            @include span-columns(9 or 12);
            @include omega;
            float: right;
        }

        .sidebar-primary {
            @include span-columns(3 of 12);

            &:last-child {
                margin-right: 2.35765%;
            }
        }
    }

    .content-sidebar-sidebar .content-sidebar-wrap,
    .sidebar-sidebar-content .content-sidebar-wrap,
    .sidebar-content-sidebar .content-sidebar-wrap {
        @include span-columns(9);

        .content {
            @include span-columns(6 of 9);
        }

        .sidebar-primary {
            @include span-columns(3 of 9);
            @include omega;
        }
    }

    .content-sidebar-sidebar .sidebar-secondary {
        @include span-columns(3);
        @include omega;
    }

    .sidebar-sidebar-content .content-sidebar-wrap {
        @include span-columns(9);
        @include omega;
        float: right;

        .sidebar-primary {
            @include span-columns(3 of 9);

            &:last-child {
                margin-right: 2.35765%;
            }
        }

        .content {
            @include span-columns(6 of 9);
            @include omega;
            float: right;
        }
    }

    .sidebar-sidebar-content .sidebar-secondary {
        @include span-columns(3);

        &:first-child {
            margin-right: 2.35765%;
        }
    }

    .sidebar-content-sidebar .content-sidebar-wrap {
        @include span-columns(9);
        @include omega;
        float: right;

        .content {
            @include span-columns(6 of 9);
        }

        .sidebar-primary {
            @include span-columns(3 of 9);
            @include omega;
        }
    }

    .sidebar-content-sidebar .sidebar-secondary {
        @include span-columns(3);

        &:first-child {
            margin-right: 2.35765%;
        }
    }
}
